<div class='bg-image'>
</div>
<!--  <header class="mdc-toolbar-user mdc-elevation--z4 mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start ">
          <a [routerLink]="['/home/work_area/user/dashboard']" class="user_logo">
            <img src="Not Found" alt="logo"></a>
          <span class="mdc-toolbar__input">
            <div class="mdc-text-field">
             
            </div>
          </span>
        </section>
       
      </div>
    </header> -->
<!--================Slider Area =================-->
<section class="container-fluid">
    <div class="main-content">
        <div class="content_center">
            <div class="row text-center">
                <div class="col-md-12">
                    <img src="{{utilService.SITE_LOGO}}" alt="Not Found" width="100">
                    <!-- <img *ngIf="isLoading" src="{{utilService.SITE_LOGO}}" />
                    <img [hidden]="isLoading" src="{{utilService.SITE_LOGO}}" (load)="isLoading = false" /> -->
                </div>
            </div>
            <div class="main_heading"> WELCOME TO WHOLESALE INEED A MOBILE</div>
            <div class="btn_section">
                <a class="bg_btn" [routerLink]="['/home/work_area/register']"> <i class="fa fa-address-book"></i> Create New Account</a>
                <!-- <a class="or_btn">OR</a> -->
                <a class="tp_btn" [routerLink]="['/home/work_area/login']"> <i class="fa fa-lock"></i> Sign In</a>
            </div>
        </div>

    </div>
    <!-- <span class="main_heading"> WELCOME TO PRIVATE WHOLESALE INEED MOBILE</span>
    <div class="btn_section">
        <a class="bg_btn" [routerLink]="['/home/work_area/register']"> <i class="fa fa-address-book"></i> Create New Account</a>
        <a class="tp_btn" [routerLink]="['/home/work_area/login']"> <i class="fa fa-lock"></i> Sign In</a>
    </div> -->
    <!-- </div>

    </div> -->
</section>
<!--================End Slider Area =================-->