<div class='bg-image'></div>
<div class="main">
        <section class="signup">
            <div class="container reset-pass">
                <div class="signup-content">
                    <div id="signup-form" class="signup-form">
                        <h2 class="form-title-reset">Reset Password</h2>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Email *"
                             [(ngModel)]="userEmail"  [formControl]="emailValidation.controls['email']"/>
                             <small class="color-red" *ngIf="emailValidation.controls['email'].hasError('required') && emailValidation.controls['email'].touched">{{utilService.validationService.EMAIL_IS_REQUIRD}}</small>
                             <small class="color-red" *ngIf="!emailValidation.controls['email'].hasError('required') && !emailValidation.controls['email'].valid && emailValidation.controls['email'].touched">{{utilService.validationService.VALID_EMAIL}}</small>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="reset" [disabled]="!emailValidation.valid" (click)="sendMailForResetPassword()" />
                        </div>
                    </div>
                    <p class="loginhere"> <a [routerLink]="['/home/work_area/login']" class="loginhere-link">Sign In</a>
                    </p>
                </div>
            </div>
        </section>
    </div>