<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-2">
      </div>
      <div class="mdc-card mdc-layout-grid__cell--span-8">
            <!-- .........................section start......................... -->
              <div class="template-demo profile_detail" >
                  <section class=" col-md-12 title_sec" style="margin-bottom: 30px;">
                      <h1 class="mdc-card__title  col-md-12">CHANGE PASSWORD</h1>
                  </section>

                       
                    <div class="container-fluid">
                        <div class="row">
                        <div class="form-group col-md-12">
                            <input type="Password" class="form-input" placeholder="Your Old Password *" 
                            [(ngModel)]="user.oldPassword" maxlength="80" [formControl]="form.controls['oldPassword']"  />
                            <small class="color-red" *ngIf="form.controls['oldPassword'].hasError('required') && form.controls['oldPassword'].touched">{{utilService.validationService.OLD_PASSWOD_REQUIRED}}</small>                          
                        </div>
                        <div class="form-group col-md-12">
                            <input type="Password" class="form-input" [ngStyle]="{'border-color' : passwordRes.color }" placeholder="Your New Password *" maxlength="80"
                             [formControl]="form.controls['newPassword']"   [(ngModel)]="user.password" (keyup)="checkPassword()" />
                             <!-- {{passwordRes.strength}}
                             {{passwordRes.color}} -->
                             <small *ngIf="form.controls['newPassword'].valid">Password is {{passwordRes.strength}}</small>
                            <small class="color-red" *ngIf="form.controls['newPassword'].hasError('required') && form.controls['newPassword'].touched">{{utilService.validationService.NEW_PASSWOD_REQUIRED}}</small>                          
                            <small class="color-red" *ngIf="!form.controls['newPassword'].hasError('required') && form.controls['newPassword'].touched && !form.controls['newPassword'].valid">Password should be 8 to 32 characters.</small>                          
                        </div>
                         <div class="form-group col-md-12">
                            <input type="Password" class="form-input"  placeholder="Your Confirm Password" maxlength="80" 
                            [(ngModel)]="user.confirmPassword"  [formControl]="form.controls['confirmPassword']"  />
                            <small class="color-red" *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched">{{utilService.validationService.CONFIRM_PASSWOD_REQUIRED}}</small>                          
                            <small class="color-red" *ngIf="form.controls['confirmPassword'].touched && !form.controls['confirmPassword'].hasError('required') && user.password != user.confirmPassword">{{utilService.validationService.PASSWORD_DOESNOT_MATCH}}</small>
                        </div>
                   		 </div>
                     <div class="row user_rows text-right">
                     <!-- <input type="submit" [disabled]="!form.valid || user.password != user.confirmPassword" (click)="changePassword()" value="CHANGE PASSWORD"/>   -->
                     <button [disabled]="!form.valid || user.password != user.confirmPassword"  (click)="changePassword()" class="setting_btn">Change Password</button>
                                </div>
                            </div>


              </div>
            <!-- </div> -->
      </div>
  </div>
</div>
