<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2-desktop">
        </div>
        <div class="mdc-card mdc-layout-grid__cell--span-8">
            <!-- .........................section start......................... -->
            <div class="row mdc-card__account">
            <div class="col-md-12 col-sm-12 acc_heading">
                <div class="col-sm-8">
                    <h1 class="line_head">My Account</h1>
                </div>
                <div class="col-sm-4">
                    <div class="bottom_btn text-right">

                        <button type="button" class="btn btn_black" (click)="changeView()"><i class="fa" [ngClass]="{'fa-pencil' : !isEdit , 'fa-eye'  : isEdit}"></i>&nbsp;&nbsp;&nbsp;{{isEdit ? 'VIEW' : 'EDIT'}}</button>

                        <!-- <button type="button" class="btn btn-primary" (click)="isEdit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;EDIT</button> -->
                    </div>
                </div>
                </div>
            </div>

            <div class="template-demo profile_detail" *ngIf="!utilService.notFound" id="error_div">
                <!-- <section class=" col-md-12 title_sec" style="margin-bottom: 30px;"> -->
                    <!-- <h1 class="mdc-card__title  col-md-12">PROFILE</h1> -->
                <!-- </section> -->

                <div class="" *ngIf="!isEdit">
                    <div class="row user_rows">
                        <div class="col-sm-6">
                            <span class="detail_head">First Name : </span>
                            <span class="detail_para"> {{user.firstName ? user.firstName : '-'}}</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="detail_head">Last Name : </span>
                            <span class="detail_para">  {{user.lastName ? user.lastName : '-'}}</span>
                        </div>
                    </div>
                    <div class="row user_rows">
                        <div class="col-sm-6">
                            <span class="detail_head">Tel/Mobile : </span>
                            <span class="detail_para">  {{user.mobileNo ? user.mobileNo : '-'}}</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="detail_head">Email : </span>
                            <span class="detail_para">  {{user.email  ? user.email : '-'}}</span>
                        </div>
                    </div>
                    <div class="row user_rows">
                        <div class="col-sm-6">
                            <span class="detail_head">Account Manager: </span>
                            <span class="detail_para">  {{user.idOfAccountManager ? (user.idOfAccountManager.managerName) : '-'}}</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="detail_head">Company: </span>
                            <span class="detail_para">  {{user.companyName ? user.companyName : '-'}}</span>
                        </div>

                    </div>
                    <div class="row user_rows">
                        <div class="col-sm-6">
                            <span class="detail_head">Company Type: </span>
                            <span class="detail_para">  {{user.companyType  ? user.companyType : '-'}}</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="detail_head">Country : </span>
                            <span class="detail_para">  {{user.country ? user.country : '-'}}</span>
                        </div>
                        <!-- <div class="col-sm-6">
                            <span class="detail_head">Currency : </span>
                            <span class="detail_para">  {{user.currency ? user.currency : '-'}}</span>
                        </div> -->
                    </div>
                    <div class="row user_rows">
                        <div class="col-sm-6">
                            <span class="detail_head">Registration Number: </span>
                            <span class="detail_para">  {{user.registartionNumber ? user.registartionNumber : '-'}}</span>
                        </div>
                        <div class="col-sm-6">
                            <span class="detail_head">VAT Number : </span>
                            <span class="detail_para">  {{user.VATNumber ? user.VATNumber : '-'}}</span>
                        </div>
                    </div>
                    <div class="row user_rows">

                        <div class="col-sm-6">
                            <span class="detail_head">Company Address : </span>
                            <span class="detail_para">  {{user.companyAddress ? user.companyAddress : '-'}}</span>
                        </div>

                    </div>
                    <!-- <pre>
                                {{user.document | json}}
                                </pre> -->
                    <div class="row user_rows" *ngIf="user.document && user.document.length > 0">
                        <!-- <div class="col-sm-12">
                            <span class="detail_head">Documents : </span>
                            <div class="detail_para">

                                <div class="col-sm-12 doc_detail" *ngFor="let item of user.document">
                                    <!-- <div class="doc_detail"> -->
                                    <!-- <div class="doc_left_1" title="{{item.fileName}}">{{item.fileName}} </div>
                                    <div class="doc_right_1">
                                        <a> <i class="fa fa-times remove_doc" (click)="removeDocumentById(item.id)"></i></a>
                                        <i class="fa fa-download edit_btn" (click)="downloadDocument(item)"></i>
                                    </div> -->
                                    <!-- </div> -->

                                <!-- </div>

                            </div>

                        </div> --> 
                        <div class="col-sm-12">
                            <span class="detail_head">Documents : </span>
                            <div class="detail_para">

                                <div class="col-sm-6 doc_detail" *ngFor="let doc of user.document">
                                    <!-- <div class="doc_detail"> -->
                                    <div class="doc_left_1" title="{{doc.fileName}}">{{doc.fileName}} </div>
                                    <div class="doc_right_1">
                                        <a> <i class="fa fa-trash remove_doc"  data-toggle="modal" (click)="idForRemove=doc.id" data-target="#deleteDoc" title="Delete Document" ></i></a>
                                        <i class="fa fa-download edit_btn" (click)="downloadDocument(doc)"></i>
                                    </div>
                                    <!-- </div> -->

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="container-fluid" *ngIf="isEdit">
                    <div>
                        <div class="alert alert-danger" *ngIf="errors.length > 0">
                            <a class="close" aria-label="close" (click)="resetError()">&times;</a>
                            <ul *ngFor="let err of errors">
                                <li>{{err}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="detail_head">First Name : </span>
                            <input type="text" class="form-input" name="firstname" id="First name" placeholder="Your First Name *" maxlength="80" [formControl]="registartionForm.controls['firstName']" [(ngModel)]="userForEdit.firstName" />
                            <small class="color-red" *ngIf="registartionForm.controls['firstName'].hasError('required') && registartionForm.controls['firstName'].touched">{{utilService.validationService.FRIST_NAME_IS_REQUIRD}}</small>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="detail_head">Last Name : </span>
                            <input type="text" class="form-input" name="lastname" id="Lastname" placeholder="Your Last Name *" maxlength="80" [formControl]="registartionForm.controls['lastName']" [(ngModel)]="userForEdit.lastName" />
                            <small class="color-red" *ngIf="registartionForm.controls['lastName'].hasError('required') && registartionForm.controls['lastName'].touched">{{utilService.validationService.LAST_NAME_IS_REQUIRD}}</small>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="detail_head">Email : </span>
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email *" maxlength="80" [(ngModel)]="userForEdit.email" [formControl]="registartionForm.controls['email']" disabled />
                            <small class="color-red" *ngIf="registartionForm.controls['email'].hasError('required') && registartionForm.controls['email'].touched">{{utilService.validationService.EMAIL_IS_REQUIRD}}</small>
                            <small class="color-red" *ngIf="!registartionForm.controls['email'].hasError('required') && !registartionForm.controls['email'].valid && registartionForm.controls['email'].touched">{{utilService.validationService.VALID_EMAIL}}</small>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="detail_head">Mobile : </span>
                            <input type="text" class="form-input" name="mobile" id="mobile" placeholder="Your Tel/Mobile *" maxlength="10" [(ngModel)]="userForEdit.mobileNo" [formControl]="registartionForm.controls['mobileNo']" />
                            <small class="color-red" *ngIf="registartionForm.controls['mobileNo'].hasError('required') && registartionForm.controls['mobileNo'].touched">{{utilService.validationService.MOBILE_NO_IS_REQUIRD}}</small>
                            <small class="color-red" *ngIf="!registartionForm.controls['mobileNo'].hasError('required') && !registartionForm.controls['mobileNo'].valid && registartionForm.controls['mobileNo'].touched">{{utilService.validationService.VALID_MOBILE_NO}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="form-group col-md-6">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Your password" maxlength="50" [(ngModel)]="user.password"/>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="password" class="form-input" name="conpassword" id="conpassword" placeholder="confirm password" maxlength="50"/>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <!-- <label class="control-label lbl_text">MTR Account Manager : </label> -->
                            <!-- <select class="form-input" [formControl]="registartionForm.controls['mtrAccountManager']" [(ngModel)]="user.mtrAccountManager">
                            <option>test</option>
                            <option>test</option>
                        </select> -->
                            <span class="detail_head">Account Manager : </span>
                            <ng-select class="form-control1" [items]="mtrAccountManager" bindLabel="managerName" bindValue="id" placeholder="Select account manager *" [formControl]="registartionForm.controls['mtrAccountManager']" [(ngModel)]="userForEdit.idOfAccountManager">
                            </ng-select>
                            <small class="color-red" *ngIf="registartionForm.controls['mtrAccountManager'].hasError('required') && registartionForm.controls['mtrAccountManager'].touched">{{utilService.validationService.MTR_MANAGER_IS_REQUIRD}}</small>
                        </div>
                    </div>

                    <h5 class="reg_sub_heading">Company info</h5>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="detail_head">Company Type : </span>
                            <!-- <label class="control-label lbl_text">Company type : </label> -->
                            <ng-select class="form-control1" [items]="companyType" bindLabel="name" bindValue="name" placeholder="Select company type *" [formControl]="registartionForm.controls['companyType']" [(ngModel)]="userForEdit.companyType">
                            </ng-select>
                            <small class="color-red" *ngIf="registartionForm.controls['companyType'].hasError('required') && registartionForm.controls['companyType'].touched">{{utilService.validationService.COMPANY_TYPE_IS_REQUIRD}}</small>
                        </div>
                        <div class="form-group col-md-6">
                            <!-- <label class="control-label"></label> -->
                            <span class="detail_head">Company Name : </span>
                            <input type="text" class="form-input" name="company" id="company" placeholder="Your company *" maxlength="100" [formControl]="registartionForm.controls['company']" [(ngModel)]="userForEdit.companyName" />
                            <small class="color-red" *ngIf="registartionForm.controls['company'].hasError('required') && registartionForm.controls['company'].touched">{{utilService.validationService.COMPANY_NAME_IS_REQUIRD}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="detail_head">Country : </span>
                            <!-- <label class="control-label lbl_text">Country : </label> -->
                            <ng-select class="form-control1" [items]="countryList" bindLabel="name" bindValue="name" placeholder="Select country *" [formControl]="registartionForm.controls['country']" [(ngModel)]="userForEdit.country">
                            </ng-select>
                            <small class="color-red" *ngIf="registartionForm.controls['country'].hasError('required') && registartionForm.controls['country'].touched">{{utilService.validationService.COUNTRY_IS_REQUIRD}}</small>
                        </div>
                        <div class="form-group col-md-6">

                            <!-- <span class="detail_head">Currency : </span>
                            <ng-select class="form-control1" [items]="utilService.arrayOfCurrency" bindLabel="name" bindValue="name" placeholder="Select currency *" [(ngModel)]="userForEdit.currency" [formControl]="registartionForm.controls['currency']">
                            </ng-select>
                            <small class="color-red" *ngIf="registartionForm.controls['currency'].hasError('required') && registartionForm.controls['currency'].touched">{{utilService.validationService.CRRENCY_IS_REQUIRD}}</small> -->
                            <span class="detail_head">Registration Number : </span>
                            <input type="text" class="form-input" name="regno" id="regno" placeholder="Registration Number *" [formControl]="registartionForm.controls['registrationNo']" [(ngModel)]="userForEdit.registartionNumber" />
                            <small class="color-red" *ngIf="registartionForm.controls['registrationNo'].hasError('required') && registartionForm.controls['registrationNo'].touched">{{utilService.validationService.REGSITRATION_NO_REQUIRED}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <span class="detail_head">VAT Number : </span>
                            <input type="text" class="form-input" name="vatnumber" id="vatnumber" placeholder="VAT number *" [formControl]="registartionForm.controls['vatNo']" [(ngModel)]="userForEdit.VATNumber" />
                            <small class="color-red" *ngIf="registartionForm.controls['vatNo'].hasError('required') && registartionForm.controls['vatNo'].touched">{{utilService.validationService.VAT_NO_REQUIRED}}</small>

                        </div>
                    </div>
                    <div class="form-group">
                        <span class="detail_head">Company Address : </span>
                        <textarea class="form-input" placeholder="Company Address *" [formControl]="registartionForm.controls['companyAddress']" [(ngModel)]="userForEdit.companyAddress"></textarea>
                        <small class="color-red" *ngIf="registartionForm.controls['companyAddress'].hasError('required') && registartionForm.controls['companyAddress'].touched">{{utilService.validationService.COMPANY_ADDRESS_IS_REQUIRD}}</small>
                    </div>

                    <h5 class="reg_sub_heading">Company Documents</h5>
                    <div class="template-demo table-responsive" *ngIf="listOfFilenNames.length > 0">
                        <table class="table stocklist_tbl_reg">
                            <thead>
                                <tr class="stocklist_row">
                                    <th class="col-md-9">File Information</th>
                                    <th class="col-md-3">Operations</th>
                                </tr>
                            </thead>
                            <tbody class="stocklist_data">

                                <tr *ngFor="let file of listOfFilenNames;let i = index">

                                    <td class="text-left">
                                        <i class="fa fa-file"></i>
                                        <span class="mleft_20"> {{file}}</span></td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" (click)="removeFile(i)">
                                            <i class="fa fa-trash"></i>   Remove</button>
                                    </td>
                                </tr>
                                <tr *ngIf="listOfFilenNames.length == 0">
                                    <td colspan="3">
                                        No Files Found.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <p class="reg_instruction">Please upload your Company Registration and VAT Registration documents here</p> -->
                    <div class="form-group">
                        <input type="file" class="form-input" name="filedoc" id="filedoc" #attachmentImg multiple (change)="selectFile($event)" />
                    </div>
                    <!-- <div class="alert alert-danger" *ngIf="errorsForFile.length > 0">
                        <ul *ngFor="let err of errorsForFile">
                            <li>
                                {{err}}
                            </li>
                        </ul>
                    </div> -->
                    <div class="row user_rows text-right">
                        <!-- <button [disabled]="errorsForFile.length > 0 || !registartionForm.valid" (click)="updateUser()">click</button> -->
                        <button type="button" [disabled]="errors.length > 0 || !registartionForm.valid" (click)="updateUser()" class="setting_btn "><i class="fa fa-floppy-o"></i> UPDATE</button>
                    </div>
                </div>


            </div>
            <!-- </div> -->
        </div>
    </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="deleteDoc" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="delete_sym">
                    <i class="fa fa-trash"></i>
                </div>
                <div class="delete_title_main">
                    <h3 class="modal-title delete_title">Are You Sure ?
                    </h3>

                    <span class="sub_title"> You Want To Delete Mail Template. </span>
                </div>
                <div class="row text-center m_top20">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"(click)="removeDocumentById(idForRemove)" >Delete</button>
                    <button type="button" class="btn btn-default mleft_20" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>